.search-results {
    // width: calc(70% - 1.5rem);

    .title {
        border-radius: 5px;
        box-shadow: 0 0 3px 0 #ccc;
        background-color: #fff;
        padding: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1.95rem;
        color: rgb(24, 24, 24);

        .icon {
            margin: 0 1rem;
            color: rgb(104, 104, 104);
        }

        .keyword {
            font-size: 1.6rem;
            color: rgba(143, 143, 143, 0.9);
            margin: 0 2rem;
        }
    }

    .load-more {
        text-align: center;
        padding: 1.5rem;

        .load-more-btn {
            min-width: 18rem;
            background-color: transparent;
            padding: 1rem 2rem;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.6rem;
            color: rgb(90, 90, 90);
            transition: all 0.15s ease;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                color: rgb(59, 59, 59);
            }

            &:active {
                transform: scale(0.955);
            }
        }
    }
}
