@import "../../../assets/css/variables.scss";

.user-content-loading {
    width: 83.333333333333333333333333%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .user-image-wrap {
        padding: 0 0.75rem 0 0.75rem;
        flex-shrink: 0;
        width: 22rem;
        height: 22rem;

        .user-image-wrap-link {

            .user-image {
                width: 22rem;
                height: 22rem;
                border: 1px solid rgba(204, 204, 204, 0.35);
                object-fit: cover;
                border-radius: 6969px;
                background-color: rgba(204, 204, 204, 0.35);
            }
        }
    }

    .user-info {
        padding: 0 4rem;

        .user-info-username {
            h3 {
                background-color: rgba(204, 204, 204, 0.5);
                border-radius: 10px;
                padding: 2rem 0;
            }
        }

        .user-info-options {
            padding: 1.4rem 0;

            a {
                background-color: rgba(204, 204, 204, 0.4);
                border: 0;
                color: transparent;
            }

            .mr-1 {
                margin-right: 1rem;
            }
        }


        .user-info-statistic {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: rgba(204, 204, 204, 0.35);
            padding: 4rem 0;
            border-radius: 10px;
        }

        .user-info-description {
            padding: 1.4rem 0;
            font-size: 1.6rem;
            line-height: 1.25;
            word-break: break-word;
            text-align: justify;
            color: $text-color-lighter;
            background-color: rgba(204, 204, 204, 0.5);
            margin-top: 2rem;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 992px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .user-info {    
            padding: 0;

            .user-info-username {
                h3 {
                    margin-top: 1rem;
                    text-align: center;
                    padding: 1rem;
                }
            }
    
            .user-info-options {
                padding: 1.4rem 0;
                text-align: center;
                & > * {
                    margin: 1rem;
                }
            }

            .user-info-statistic {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .user-info-description {
                padding: 1.4rem 0;
                font-size: 1.6rem;
                line-height: 1.25;
                word-break: break-word;
                text-align: justify;
                color: $text-color-lighter;
            }
        }
    
    }
}