@import "../../../assets/css/variables.scss";

.inner-content {
    height: calc(100vh - 5rem);
    overflow: auto;
    padding: 2rem;

    .tab-section {
        
        & + .tab-section {
            margin-top: 10rem;
        }

        .tab-title {
            font-size: 2.2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #999;
        }

        .inner-container {

            .row {
                & + .row {
                    margin-top: 1rem;
                }

                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: space-between;
                padding: 2rem 1rem;
                transition: all 0.15s ease;
                border-radius: 5px;

                .col {
                    font-size: 1.6rem;
                    width: 33.333333333333333333333%;
                }

                .name {
                    color: $text-color-lighter;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                
                .content {
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .rendered {
                        color: $base-color;
                        word-break: break-word;
                        text-align: center;
                    }

                    .flex-column {
                        display: flex;
                        flex-direction: column;
                    }

                    .rendered.disabled {
                        color: $text-color-lighter;
                    }

                    .form-edit {
                        padding: 1rem 0 0 0;    

                        .control-wrap:nth-child(2) {
                            padding: 1rem 0 0 0;
                            display: flex;
                            justify-content: flex-end;
                        }

                        .edit-input {
                            padding: 0.5rem 0.75rem;
                            border: 1px solid #ccc;
                            outline: none;
                            border-radius: 5px;
                        }

                        .edit-select {
                            width: 100%;
                            padding: 0.5rem 0.75rem;
                            border: 1px solid #ccc;
                            outline: none;
                            border-radius: 5px;                            
                        }

                        .edit-label {
                            display: block;
                            
                            .edit-input {
                                margin-right: 1rem;
                            }
                        }

                        .edit-button {

                            & + .edit-button {
                                margin-left: 1rem;
                            }

                            outline: none;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            padding: 0.5rem 0.75rem;
                            cursor: pointer;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            background-color: #fff;
                            transition: all 0.15s ease;

                            &:hover {
                                background-color: rgba(204, 204, 204, 0.384);
                            }

                            &:active {
                                transform: scale(0.955);
                            }
                        }
                    }

                    .form-edit.hidden {
                        display: none;
                    }
                }

                .edit {
                    cursor: pointer;
                    text-align: right;

                    .text {
                        color: blue;

                        @media screen and (max-width: 767px) {
                            display: none;
                        }
                    }

                    .icon {
                        color: #999;
                        margin: 0 1rem;

                        &:hover {
                            color: blue;
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .edit.disabled {
                    pointer-events: none;
                    
                    .text, .icon {
                        color: #ccc;
                    }
                }

                &:hover {
                    background-color: rgba(204, 204, 204, 0.5);
                }
            }
        }
    }
}

.inner-content::-webkit-scrollbar {
    width: 1rem;
  }

.inner-content::-webkit-scrollbar-track {
    border-radius: 5px;
}

.inner-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: none;
    border-radius: 5px;
}