.user-content {
  width: 83.3333333333%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-content .user-image-wrap {
  padding: 0 0.75rem 0 0.75rem;
  width: 30%;
  flex-shrink: 0;
}
.user-content .user-image-wrap .user-image-wrap-link {
  display: inline-block;
  width: 100%;
}
.user-content .user-image-wrap .user-image-wrap-link .user-image {
  width: 100%;
  object-fit: cover;
  border-radius: 6969px;
}
.user-content .user-info {
  padding: 0 0.75rem 0 0.75rem;
}
.user-content .user-info .user-info-username h3 {
  color: #313131;
  font-size: 2.7rem;
  line-height: 1.2;
}
.user-content .user-info .user-info-options {
  padding: 1.4rem 0;
}
.user-content .user-info .user-info-options .mr-1 {
  margin-right: 1rem;
}
.user-content .user-info .statistic-item {
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-content .user-info .statistic-item-icon {
  width: 2.3rem;
}
.user-content .user-info .statistic-item-text {
  margin: 0 1rem;
}
.user-content .user-info .statistic-item-count {
  font-weight: 500;
}
.user-content .user-info .statistic-item .post-icon {
  margin-right: 0.55rem;
}
.user-content .user-info .statistic-item .follow-icon {
  width: 3rem;
}
.user-content .user-info .user-info-description {
  padding: 1.4rem 0;
  font-size: 1.6rem;
  line-height: 1.25;
  word-break: break-word;
  text-align: justify;
  color: rgba(49, 49, 49, 0.733);
}

.user-posts-list-title {
  margin: 2rem 0 1.75rem 0;
  padding: 0.2rem 0 0.2rem 1rem;
  color: #313131;
  font-size: 1.9rem;
  text-align: left;
  font-weight: 500;
  border-left: 6px solid #3482e2;
  border-radius: 5px 0 0 5px;
}

.user-posts-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.user-posts-list .col-6 {
  width: calc(50% - 1rem);
  margin-top: 1.25rem;
}

.post-item {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.7rem;
}
.post-item + .post-item {
  margin-top: 1.2rem;
}
.post-item-header {
  display: flex;
  align-items: stretch;
  justify-self: flex-start;
}
.post-item-header .post-item-avatar-link {
  align-self: center;
  overflow: hidden;
}
.post-item-header .post-item-avatar-link .post-item-avatar {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 69px;
}
.post-item-header .post-item-info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-item-header .post-item-info .post-item-author {
  font-weight: 500;
  font-size: 1.7rem;
  color: #313131;
  line-height: 1;
}
.post-item-header .post-item-info .post-item-time-ago a {
  font-size: 1.3rem;
  color: #999;
}
.post-item-header .post-item-info .post-item-time-ago a:hover {
  text-decoration: underline;
}
.post-item-content .post-item-text:first-child {
  margin-top: 1rem;
}
.post-item-content .post-item-text {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0.25rem 0;
  color: #313131;
}
.post-item-content .post-item-image-wrap {
  padding: 1rem 0 1rem 0;
}
.post-item-footer {
  display: flex;
  justify-content: flex-start;
}
.post-item-footer .post-item-show {
  padding: 0.4rem 2rem;
  transition: all 0.15s ease;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.post-item-footer .post-item-show:hover {
  background-color: #88b9f598;
}
.post-item-footer .heart-icon {
  width: 1.7rem;
}
.post-item-footer .comment-icon {
  width: 2.3rem;
}
.post-item-footer .comment-count {
  padding: 0 0.3rem;
  font-weight: 500;
  color: #4a95f1;
  font-size: 1.5rem;
}

/*# sourceMappingURL=profile.css.map */
