@import "./../../assets/css/variables.scss";

.user-posts-list-title {
    margin: 2rem 0 1.75rem 0;
    padding: 0.2rem 0 0.2rem 1rem;
    color: $text-color;
    font-size: 1.9rem;
    text-align: left;
    font-weight: 500;
    border-left: 6px solid $base-color;
    border-radius: 5px 0 0 5px;
}

.user-posts-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    .col-6 {
        width: calc(50% - 1rem);
        margin-top: 1.25rem;
    }
}