.header-notification {
  position: relative;

  .icon-bell {
    cursor: pointer;
    padding: 0 2rem;
    font-size: 2.25rem;
    color: #999;
  }

  .notification-box {
    position: absolute;
    top: calc(100% + 1.5rem);
    right: 0;
    width: 30rem;
    z-index: 1111;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 1px 2px 1px #ccc;
    transform: scale(1);
    transition: all 0.15s ease;

    .title {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 767px) {
      right: -7.5rem;
    }
  }

  .notification-box.hidden {
    // display: none;
    transform: scale(0);
  }
}
