.comment-header-loading {
    margin: 1.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .total-comment-count {
        font-size: 1.7rem;
        color: transparent;
        background-color: rgba(204, 204, 204, 0.35);
        border-radius: 5px;
    }

    .comment-sort {
        .comment-sort-title {
            color: transparent;
            background-color: rgba(204, 204, 204, 0.35);
            padding: 0.25rem 0.25rem;
            border-radius: 5px;
            margin-right: 1rem;
        }

        .comment-sort-link {
            color: transparent;
            background-color: rgba(204, 204, 204, 0.35);
            padding: 0.35rem;
            border-radius: 5px;

            & + .comment-sort-link {
                margin-left: 1rem;
            }
        }

        .comment-sort-link:last-child {
            padding: 0;
        }
    }
}