@import "./../../assets/css/variables.scss";

.col-ct-5 {
    width: 41.66666666666666666666666%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.change-password-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #ccc;
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 2rem;
    margin-top: 7.4rem;

    .change-password-title {
        color: $text-color;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            margin-right: 1rem;
            color: rgb(100, 100, 100);
        }

        &-text {
            font-size: 1.8rem;
            font-weight: 500;
            word-break: break-word;
        }
    }

    .form-change-password {
        display: flex;
        flex-direction: column;
    }

    .form-ctl-wrap {
        padding: 0.5rem 0;
        flex: 1;
        display: flex;
        flex-shrink: 1;
        flex-wrap: wrap;
        margin: 0.5rem 0;

        .password-icon {
            align-self: center;
            padding: 0 0.75rem 0 0.2rem;
            font-size: 1.6rem;
            color: rgb(100, 100, 100);
        }

        .form-control {
            flex: 1;
            border: 1px solid transparent;
            transition: all 0.25s ease;

            &:focus {
                border-color: $base-color;
            }
        }
    }

    .change-password-error {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
        align-items: center;
        display: none;
    }

    .change-password-error-icon-wrap {
        width: 3.2rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .change-password-error-icon {
        font-size: 2.5rem;
        color: $error-color;
    }

    .change-password-error-text {
        width: calc(100% - 3.2rem);
        font-size: 1.6rem;
        color: $text-color;
        padding: 0.75rem;
        padding-left: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px #ccc;
        border-left: 3px solid $error-color;
        background-color: $body-background-color;
    }

    .change-password-error.active {
        display: flex;
    }

    .change-password {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
        align-items: center;
        display: none;
    }

    .change-password-icon-wrap {
        width: 3.2rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .change-password-icon {
        font-size: 2.5rem;
        margin-right: 0.8rem;
        color: #72bf00;
    }

    .change-password-text {
        width: calc(100% - 3.2rem);
        font-size: 1.6rem;
        color: $text-color;
        padding: 0.75rem;
        padding-left: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px #ccc;
        border-left: 3px solid #72bf00;
        background-color: $body-background-color;
    }

    .change-password.active {
        display: flex;
    }

    .change-password-btn-group {
        padding: 1rem 0 0.5rem 0;
        text-align: center;

        .ch-pass.disabled {
            pointer-events: none;
            background-color: #ccc;
            border-color: #ccc;
        }

        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .route {
        padding: 1rem;
        text-align: center;

        .go-back-btn {
            outline: none;
            border: none;
            font-size: 1.4rem;
            background-color: transparent;
            color: #999;
            cursor: pointer;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 105%;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #999;
                transition: width 0.25s ease;
            }
            
            &:hover::after {
                width: 100%;
            }
        }
    }
}
