$base-color: #3482e2;
$base-color-lighter: #4a95f1;
$base-color-lightest: #88b9f598;
$body-background-color: #eef3f6;
$text-color: rgb(49, 49, 49);
$text-color-lighter: rgba(49, 49, 49, 0.733);
$error-color: #ff4700;