.notification-auth {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ccc;
    color: #999;
}

.my-categories-count {
    font-size: 1.6rem;
    line-height: 1.2;
    color: #313131;
    margin: 1rem 0 1.5rem 0;
}