@import "../../assets/css/variables.scss";

.upload-section {
    margin-top: 7.4rem;
    
    .col-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    
        .main-col-8 {
            width: calc(66.66666666666666% - 1.2rem);
        }
    
        .main-col-4 {
            width: calc(33.33333333333333% - 1.2rem);
        }
    
        @media screen and (max-width: 992px) {
            display: block;
    
            .main-col-8 {
                width: 100%;
            }
    
            .main-col-4 {
                width: 100%;
            }
        }
    }
    
    .upload-area {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0 3px 0 #ccc;
        padding: 1.5rem 1.7rem;
        margin: 0 0 1rem 0;

        .btn-upload-wrap {
            display: flex;
            margin-bottom: 1rem;
    
            & > * {
                flex: 1;
            }
        }

        .upload-btn-disabled {
            background-color: #ccc;
            color: rgba(255, 255, 255, 0.9);
            border-color: transparent;
            cursor: default;
        }

        .selected {
            border-radius: 5px;
            margin-top: 1rem;
            background-color: rgba(238, 238, 238, 0.4);

            .title {
                color: rgb(99, 99, 99);
                font-size: 1.4rem;
                padding: 1rem;
            }
        }

        .categories-input-search {
            padding: 0.7rem 1.1rem;
            font-size: 1.45rem;
            width: 100%;
            font-style: italic;
            background-color: transparent;
            border-bottom: 1px solid $base-color-lightest;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            margin: 0.8rem 0;
            transition: all 0.15s ease;
        }    
    
        .tags-list-title {
            color: $text-color;
            line-height: 1.2;
            font-size: 1.5rem;
            padding: 1rem 0 0.1rem 0;
            margin: 1rem 0 0 0;
            border-top: 1px solid #ccc;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .p-b-1rem {
            padding-bottom: 1rem;
        }

        .icon-fz-16 {
            font-size: 1.6rem;
        }

        .icon-color-light {
            color: #999;
        }

        .form-control-search {
            display: flex;            
        }

        .categories-list-section {
            height: 20rem;
            min-height: 20rem;

            .inner-list {
                height: 100%;
                overflow: auto;
            }

            .inner-list::-webkit-scrollbar {
                width: 0.75rem;
            }
               
            .inner-list::-webkit-scrollbar-track {
                border-radius: 5px;
            }
            
            .inner-list::-webkit-scrollbar-thumb {
                background-color: #ccc;
                outline: none;
                border-radius: 5px;
            }

        }
    
        .checkbox-label {
            display: inline-block;
            position: relative;
            padding-left: 3.2rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
            font-size: 1.6rem;
            color: $text-color;
        }
    
        input[type=checkbox] {
            visibility: hidden;
        }
    
        .mark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: $base-color-lightest;
            border-radius: 5px;
        }
    
        .checkbox-label input:checked + .mark {
            background-color: $base-color-lighter;
        }
    
        .mark:after {
            content: "";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s ease;
        }
    
        .checkbox-label input:checked + .mark:after {
            opacity: 1;
            visibility: visible;
        }
    
        .checkbox-label .mark:after {
            left: 8px;
            bottom: 5px;
            width: 6px;
            height: 12px;
            border: solid #eee;
            border-width: 0 4px 4px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}