@import "../../assets/css/variables.scss";

.upload-section {
    margin-top: 7.4rem;
    
    .col-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    
        .main-col-8 {
            width: calc(66.66666666666666% - 1.2rem);
        }
    
        .main-col-4 {
            width: calc(33.33333333333333% - 1.2rem);
        }
    
        @media screen and (max-width: 992px) {
            display: block;
    
            .main-col-8 {
                width: 100%;
            }
    
            .main-col-4 {
                width: 100%;
            }
        }
    }
    
    .upload-area {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
        padding: 1.5rem 1.7rem;
        margin: 0 0 1rem 0;
    
        .form-control-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5rem 0;
    
            .form-control-icon {
                width: 3.3rem;
                margin-right: 0.75rem;
            }
    
            .caption-input {
                width: 100%;
            }
    
            .label-text {
                font-size: 1.6rem;
                color: $text-color;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            .plus-icon {
                font-size: 1.7rem;
                margin: 0 1rem;
            }

            .upload-icon {
                font-size: 2.7rem;
                color: rgb(117, 117, 117);
            }
    
            & + .form-control-wrap {
                margin-top: 1rem;
            }
    
            .categories-input-search {
                padding: 0.7rem 1.1rem;
                font-size: 1.45rem;
                width: 100%;
                font-style: italic;
                background-color: transparent;
                border-bottom: 1px solid $base-color-lightest;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                margin: 0.8rem 0;
                transition: all 0.15s ease;
            }    
    
            .form-file-wrap {
                position: relative;
            }
    
            .label-text-file {
                margin: 0.5rem 0;
                display: inline-block;
                padding: 12px 0;
                cursor: pointer;
                border-radius: 5px;
                background-color: transparent;
                font-size: 16px;
                font-weight: bold;
                color: $base-color;
                text-align: center;
                transition: all 0.15s ease;
                width: 100%;
    
                &:hover {
                    background-color: $base-color-lightest;
                }
            }
    
            input[type=file] {
                position: absolute;
                z-index: -1;
                top: 10px;
                left: 8px;
                font-size: 17px;
                color: #b8b8b8;
            }
        }
    
        .filename-preview {
            font-size: 1.4rem;
            color: #999;
            span {
                padding: 0 0.5rem;
                font-size: 1.5rem;
                font-style: italic;
            }
        }

        .btn-upload-wrap {
            display: flex;
            margin-bottom: 1rem;
    
            & > * {
                flex: 1;
            }
        }

        .upload-btn-disabled {
            background-color: #ccc;
            color: rgba(255, 255, 255, 0.9);
            border-color: transparent;
            cursor: default;
        }

        .selected {
            border-radius: 5px;
            margin-top: 1rem;
            background-color: rgba(238, 238, 238, 0.4);

            .title {
                color: rgb(99, 99, 99);
                font-size: 1.4rem;
                padding: 1rem;
            }
        }
    
        .tags-list-title {
            color: $text-color;
            line-height: 1.2;
            font-size: 1.5rem;
            padding: 1rem 0 0.1rem 0;
            margin: 1rem 0 0 0;
            border-top: 1px solid #ccc;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .p-b-1rem {
            padding-bottom: 1rem;
        }

        .icon-fz-16 {
            font-size: 1.6rem;
        }

        .icon-color-light {
            color: #999;
        }

        .form-control-search {
            display: flex;
            flex-direction: row;
            
            i {
                padding: 0.9rem 1.1rem;
                font-size: 1.45rem;
                border-bottom: 1px solid $base-color-lightest;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                transition: all 0.15s ease;
                color: #999;
            }
        }

        .categories-list-section {
            height: 20rem;
            min-height: 20rem;

            .inner-list {
                height: 100%;
                overflow: auto;
            }

            .inner-list::-webkit-scrollbar {
                width: 1rem;
            }
               
            .inner-list::-webkit-scrollbar-track {
                border-radius: 5px;
                box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
            }
            
            .inner-list::-webkit-scrollbar-thumb {
                background-color: #ccc;
                outline: none;
                border-radius: 5px;
            }

        }
    
        .checkbox-label {
            display: inline-block;
            position: relative;
            padding-left: 3.2rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
            font-size: 1.6rem;
            color: $text-color;
        }
    
        input[type=checkbox] {
            visibility: hidden;
        }
    
        .mark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: $base-color-lightest;
            border-radius: 5px;
        }
    
        .checkbox-label input:checked + .mark {
            background-color: $base-color-lighter;
        }
    
        .mark:after {
            content: "";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s ease;
        }
    
        .checkbox-label input:checked + .mark:after {
            opacity: 1;
            visibility: visible;
        }
    
        .checkbox-label .mark:after {
            left: 8px;
            bottom: 5px;
            width: 6px;
            height: 12px;
            border: solid #eee;
            border-width: 0 4px 4px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .btn-load-more-categories {
            background-color: transparent;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 0.75rem 1.5rem;
            min-width: 10rem;
            color: rgb(100, 100, 100);
            transition: all 0.15s ease;
            
            &:hover {
                color: rgb(48, 48, 48);
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}