@import "../../../assets/css/variables.scss";

.update-profile-side-bar {
  padding: 0 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 2px 1px #ccc;
  transition: all 0.15s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  .side-bar-wrap {
      height: calc(100vh - 5rem);
      // height: 100%;
      overflow: auto;

      .title {
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .userInfo-toggle {
          font-size: 1.6rem;
          color: rgb(53, 53, 53);
          padding: 0.5rem;
          cursor: pointer;

          .toggle-icon {
            font-size: 2.2rem;
            margin-left: -0.25rem;
            color: #999;
          }
        }

        .text {
          flex: 1;
          text-align: center;
          font-size: 2rem;
          word-break: break-word;
          color: $text-color;
        }

        .text.hide {
          display: none;
        }
      }
     
      .nav-icon {
        padding-right: 1rem;
        font-size: 2.2rem;
        display: inline-block;
        width: 3rem;
      }

      .nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .nav-item {
          margin-bottom: 1rem;
          padding-bottom: 1rem;

          &:not(:last-child) {
            border-bottom: 1px solid rgb(221, 221, 221);
          }

          .nav-item-link {
            display: inline-block;
            text-align: left;
            padding: 1.5rem 1rem;
            font-size: 1.6rem;
            transition: all 0.15s ease;

            color: $base-color-lighter;
            width: 100%;
            border-radius: 10px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            .icon {
              margin-right: 1rem;
              width: 3rem;
              font-size: 2.2rem;
            }
            
            &:hover {
              background-color: #eee;
              cursor: pointer;
            }

            &:active {
              background-color: #ccc;
            }
          }


          .nav-item-link.active {
            background-color: #eee;
            font-size: 1.6rem;
            color: $base-color;
          }
        }
      }
    }

    .side-bar-wrap::-webkit-scrollbar {
      width: 0.75rem;
    }
      
    .side-bar-wrap::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    
    .side-bar-wrap::-webkit-scrollbar-thumb {
        background-color: #ddd;
        outline: none;
        border-radius: 5px;
    }
  }