@import "./../../assets/css/variables.scss";

.main-content {
    margin-top: 7.4rem;

    .container {

        .home-page {
            margin-top: 7.4rem;
            
            .col-wrap {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: space-between;
            
                .main-col-8 {
                    width: calc(66.66666666666666% - 1.2rem);

                    .posts-list {
                        padding-bottom: 4rem;

                        .end-of-list {
                            padding-top: 4rem;
                            color: #999;
                            font-size: 1.6rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .end-icon {
                                margin: 0 1rem;
                                font-size: 2rem;
                            }
                        }
                    }
                }
            
                .main-col-4 {
                    width: calc(33.33333333333333% - 1.2rem);
                }
            
                @media screen and (max-width: 992px) {
                    display: block;
            
                    .main-col-8 {
                        width: 100%;
                    }
            
                    .main-col-4 {
                        width: 100%;
                    }
                }
            }
            
            .home-tabs {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                margin-bottom: 1rem;

                .tab {
                    width: calc(50% - 0.5rem);
                    padding: 1rem;
                    font-size: 1.6rem;
                    text-align: center;
                    border-radius: 5px;
                    background: linear-gradient(transparent, #fff);
                    color: #999;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    transition: all 0.25s ease;

                    &:after {
                        content: '';
                        position: absolute;
                        top: calc(100% - 2px);
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #ccc;
                        border-radius: 5px;
                        transition: all 0.95s ease;
                        transform: translateX(-100%);
                    }

                    &:hover::after {
                        transform: translateX(100%);
                    }

                    &:hover {
                        color: rgb(55, 55, 255);
                    }

                    &:active {
                        background-color: #eee;
                    }
                }
                
                .tab.active {
                    font-weight: 500;
                    color: rgb(55, 55, 255);
                    cursor: default;

                    &:hover::after {
                        transform: translateX(-100%);
                    }

                    &:active {
                        background-color: #fff;
                    }
                }

                .latest {
                }

                .following {
                }
            }
            
            .notification {
                font-size: 1.6rem;
                line-height: 1.2;
                color: $text-color;
            }
            
            .load-more-btn-wrap {
                padding: 2rem 0;
                text-align: center;
            }
            
            .align-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .padding-tb-2rem {
                padding: 2rem 0;
            }
        }
    }
}

