@import "./../../assets/css/variables.scss";

.header {
  background-color: #fff;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 102;

  .container {

    .header-section {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      min-height: 5rem;
      

      .header-logo {
        font-size: 2.5rem;
        align-self: center;

        &-link {
          color: $base-color;
        }
      }

      .header-group {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .header-nav {
          display: flex;
          align-items: center;
          justify-content: center;

          .header-nav-item {
            text-align: center;
            border-bottom: 2px solid transparent;
            display: flex;
            align-items: center;
            height: 100%;
            transition: all 0.15s ease;

            &:hover {
              border-bottom-color: $base-color-lighter;
            }

            &-link {
              font-size: 1.6rem;
              display: inline-block;
              padding: 1.2rem 1.8rem;
              color: $base-color;

              .nav-icon {
                padding-right: 1rem;
                font-size: 2rem;
              }
            }
          }

          .header-nav-item.active {
            border-bottom-color: $base-color;
          }
        }

        .header-search {
          margin: 0 0.75rem;
          align-self: center;
        }

        .header-btn-group {
          display: flex;
          align-items: center;

          .btn {
            margin: 0 0.5rem;
            padding: 0.6rem 2rem;
          }

          .btn:last-child {
            margin-right: 0;
          }
        }

        .header-btn-icon {
          margin-right: 0.75rem;
        }

        @media screen and (max-width: 992px) {
          margin-left: auto;

          .header-nav {
            display: none;
          }

          .header-search {
            display: none;
          }
        }
      }
    }

    .header-overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(63, 63, 63, 0.6);
      z-index: 19;
      visibility: hidden;
      opacity: 0;
    }

    .menu-input-label {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      display: none;

      .menu-input-icon {
        border-radius: 69px;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
        color: $text-color-lighter;
      }

      @media screen and (max-width: 992px) {
        display: flex;
      }
    }

    .side-bar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 99;
      padding: 0.5rem;
      background-color: #fff;
      min-width: 30rem;
      box-shadow: 0 0 2px 1px #ccc;
      transform: translateX(-100%);
      transition: all 0.35s ease;

      .side-bar-wrap {

        .close-side-bar {
          position: fixed;
          bottom: 10px;
          right: 10px;
          z-index: 14;
          cursor: pointer;

          .close-icon {
            font-size: 2.75rem;
            color: rgba(112, 112, 112, 0.76);
          }

          .tooltip {
            position: absolute;
            right: 120%;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.623);
            color: #fff;
            font-size: 1.2rem;
            border-radius: 5px;
            padding: 0.25rem 0.75rem;
            white-space: nowrap;
            visibility: hidden;
            opacity: 0;
            transition: all 0.15s ease;
          }

          &:hover {
            .tooltip {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        height: 100%;
        overflow: auto;

        .side-bar-page-title {
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 2rem;
          padding: 2rem 0;
          border-bottom: 1px solid rgb(221, 221, 221);

          .title-link {
            color: $base-color;
          }
        }

        .nav-search {
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid rgb(221, 221, 221);
          
          form {
            padding: 0 0.5rem;
            .form-control {
              width: 100%;
            }
          }
        }

        .nav-icon {
          padding-right: 1rem;
          font-size: 2rem;
          display: inline-block;
          width: 3rem;
        }

        .nav {
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          border-bottom: 1px solid rgb(221, 221, 221);

          .nav-item {
            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }

            .nav-item-link {
              display: inline-block;
              text-align: left;
              padding: 1.5rem 1rem;
              font-size: 1.6rem;
              transition: all 0.15s ease;

              color: $base-color;
              width: 100%;
              border-radius: 10px;

              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }

            .nav-item-link.active {
              font-weight: bold;
              font-size: 1.7rem;
            }
          }
        }

        .btn-group {
          display: flex;
          flex-direction: column;

          .btn-item {
            padding: 1.5rem 1rem;
            border: 0;
            text-align: left;

            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }

    #menu-input:checked {
      & ~ .side-bar {
        transform: translateX(0);
      }

      & ~ .header-overlay {
        z-index: 97;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
