@import "./../../assets/css/variables.scss";

.user-content {
    width: 83.333333333333333333333333%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .user-image-wrap {
        padding: 0 0.75rem 0 0.75rem;
        flex-shrink: 0;
        width: 22rem;
        height: 22rem;

        .user-image-wrap-link {
            display: inline-block;
            width: 100%;
            height: 100%;

            .user-image {
                width: 100%;
                height: 100%;
                border: 1px solid #ccc;
                object-fit: cover;
                border-radius: 6969px;
            }
        }
    }

    .user-info {
        padding: 0 4rem;

        .user-info-username {
            h3 {
                color: $text-color;
                font-size: 2.7rem;
                line-height: 1.2;
            }
        }

        .user-info-options {
            padding: 1.4rem 0;

            .mr-1 {
                margin-right: 1rem;
            }

            .no-hover {
                &:hover {
                    background-color: transparent;
                    color: none;
                }
            }

            .gray-color {
                border-color: $text-color-lighter;
                color: $text-color-lighter;

                &:hover {
                    background-color: transparent;
                    color: $text-color;
                }
            }

            .following {
                border-color: $green-ok-color;
                color: $green-ok-color;
            }

            .tick-icon {
                padding: 0 0.5rem 0 0;
            }
        }

        .statistic-item {
            font-size: 1.6rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.5rem 0;

            &-text {
                margin: 0 1rem;
            }

            &-count {
                font-weight: 500;
            }

            .left-statistic-icon {
                color: rgb(78, 78, 78);
                margin-right: 0.5rem;
                font-size: 1.6rem;
            }

            .btn-show-more-statistic {
                background-color: transparent;
                border: 0;
                outline: none;
                cursor: pointer;
            }

            .show-more-statistic {
                margin: 0 0.5rem;
                padding: 0 0.5rem;
                color: #999;
                font-size: 1.6rem;
            }
        }

        .user-info-description {
            padding: 1.4rem 0;
            font-size: 1.6rem;
            line-height: 1.25;
            word-break: break-word;
            text-align: justify;
            color: $text-color-lighter;
        }
    }

    @media screen and (max-width: 992px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .user-info {    
            padding: 0;

            .user-info-username {
                h3 {
                    text-align: center;
                    padding: 1rem;
                }
            }
    
            .user-info-options {
                padding: 1.4rem 0;
                text-align: center;
                & > * {
                    margin: 1rem;
                }
            }

            .user-info-statistic {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .user-info-description {
                padding: 1.4rem 0;
                font-size: 1.6rem;
                line-height: 1.25;
                word-break: break-word;
                text-align: justify;
                color: $text-color-lighter;
            }
        }
    
    }
}