.line-loading {
  width: 100%;
  height: 0.5rem;
  position: relative;
  margin: 0 auto;
  color: rgba(74, 149, 241, 1);
}
.line-loading:before {
  content: "";
  position: absolute;
  right: auto;
  left: 0;
  height: 100%;
  background-color: currentColor;
  animation: lineLoading 1s forwards infinite linear;
}

@keyframes lineLoading {
  0% {
    right: 100%;
  }
  50% {
    right: 0;
    left: 0;
  }
  100% {
    right: 0;
    left: 100%;
  }
}
