@import "./../../assets/css/variables.scss";

.col-ct-5 {
    width: 41.66666666666666666666666%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}


.register-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;

    .register-header {
        padding: 1rem 0;
        text-align: center;
        
        a {
            font-size: 2.2rem;
            color: $base-color;
            word-break: break-all;
        }
    }

    .register-title {
        color: #313131;
        padding: 1.2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .icon {
            margin-right: 1rem;
            color: rgb(92, 92, 92);
        }
        
        &-text {
            font-weight: 500;
            font-size: 1.8rem;
            word-break: break-word;
        }

    }

    .register-error {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
        align-items: center;
        display: none;
    }

    .register-error-icon-wrap {
        width: 3.2rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .register-error-icon {
        font-size: 2.5rem;
    }

    .register-error-text {
        width: calc(100% - 3.2rem);
        font-size: 1.6rem;
        color: $text-color;
        padding: 0.75rem;
        padding-left: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px #ccc;
        border-left: 3px solid $error-color;
        background-color: $body-background-color;
    }

    .register-error.active {
        display: flex;
    }

    .register {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
        align-items: center;
        display: none;
    }

    .register-icon-wrap {
        width: 3.2rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .register-icon {
        font-size: 2.5rem;
        margin-right: 0.8rem;
        color: #72bf00;
    }

    .register-text {
        width: calc(100% - 3.2rem);
        font-size: 1.6rem;
        color: $text-color;
        padding: 0.75rem;
        padding-left: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 0 5px 0px #ccc;
        border-left: 3px solid #72bf00;
        background-color: $body-background-color;
    }

    .register.active {
        display: flex;
    }

    .form-register {
        display: flex;
        flex-direction: column;
    }

    .form-ctl-wrap {
        padding: 0.5rem 0;
        flex: 1;
        flex-shrink: 1;
        flex-wrap: wrap;
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        .icon {
            align-self: center;
            font-size: 2rem;
            margin-right: 1rem;
            color: #636363;
        }

        .form-control {
            flex: 1;
            // width: calc(100% - 3.25rem);
        }

        .tooltip {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            top: -6rem;
            transform: translateY(-50%);
            left: 0;
            transform: translateX(50%);
            max-width: 20rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            color: #fff;
            font-size: 1.2rem;
            visibility: hidden;
            opacity: 0;
            transition: all 0.15s ease;
        }

        .fullname-tooltip {
            top: -4.25rem;
        }

        .password-tooltip {
            top: -2.5rem;
            left: 2rem;
        }

        .username-input:focus + .username-tooltip {
            visibility: visible;
            opacity: 1;
        }

        .fullname-input:focus + .fullname-tooltip {
            visibility: visible;
            opacity: 1;
        }

        .password-input:focus + .password-tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    .register-btn-group {
        padding: 1rem 0 0.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .option-login {
            font-size: 1.15rem;
            color: $text-color-lighter;

            &-text {
                margin-right: 0.2rem;
            }

            &-btn {
                color: #3130CC;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: center;

            .option-login {
                padding: 1rem 0 0 0;
            }
        }
    }
}