@import "../../../../assets/css/variables.scss";

.form-search-categories {

    .form-control-search {
        display: flex;      
        
        .categories-input-search {
            padding: 0.7rem 1.1rem;
            font-size: 1.45rem;
            width: 100%;
            font-style: italic;
            background-color: $body-background-color;
            margin: 1rem 0;
            transition: all 0.15s ease;

            &:focus {
                background-color: transparent;
            }
        } 
    }
}