.search-section {
    margin-top: 7.4rem;

    .search-inner-wrap {
        display: flex;
        justify-content: space-between;

        .search-sidebar-wrap {
            width: calc(30% - 1.5rem);
        }

        .search-results-wrap {
            width: calc(70% - 1.5rem);
        }

        @media screen and (max-width: 992px) {
            flex-direction: column;

            .search-sidebar-wrap {
                display: none;
            }

            .search-results-wrap {
                margin-top: 3rem;
                width: 100%;
            }
        }
    }
}