@import "../../../assets/css/variables.scss";

.comment-item-loading {
    & > .comment-item-loading {
        margin-left: calc(3.75rem + 5px);
        margin-top: 2rem;
    }

    & + .comment-item-loading {
        margin-top: 2rem;
    }

    .comment-item-inner-wrap {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        
        .comment-avatar-wrap {
            display: inline-block;
            width: 3.75rem;
            height: 3.75rem;
            align-self: flex-start;
            flex-shrink: 0;
            
            .img {
                width: 3.75rem;
                height: 3.75rem;
                border: 1px solid #ccc;
                border-radius: 69px;
                background-color: #eee;
            }
        }
        
        .comment-content {
            box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
            padding: 0 1rem;
            background-color: #fff;
            border-radius: 5px;
            margin-left: 5px;
            padding: 0.5rem 1rem;
            width: 100%;
    
            .comment-author {
                .comment-author-name {
                    font-size: 1.4rem;
                    color: transparent;
                    border-radius: 5px;
                    background-color: rgba(216, 216, 216, 0.5);
                }
    
                .comment-author-time-ago {
                    font-size: 1.1rem;
                    margin-left: 1rem;
                    color: transparent;
                    border-radius: 5px;
                    background-color: rgba(216, 216, 216, 0.4);
                }
            }
    
            .comment-text {
                padding: 0.75rem 0;
                color: transparent;
                line-height: 1.25;
                font-size: 1.5rem;
            }
    
            .comment-footer {
                display: flex;
                justify-content: flex-start;
    
                .comment-show {
                    padding: 0.3rem 2.2rem;
                    border-radius: 5px;
                    color: transparent;
                    border-radius: 5px;
                    background-color: rgba(216, 216, 216, 0.4);
    
                    .icon {
                        color: transparent;
                    }
        
                    .count {
                        color: transparent;
                    }
    
                    & + .comment-show {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

