.notification-item-loading {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    transition: all 0.15s ease;
    cursor: pointer;
    border-radius: 5px;

    & + .item {
      margin-top: 1rem;
    }

    .profile-img-wrap {
      flex-shrink: 0;
      display: inline-block;
      border: 1px solid transparent;
      overflow: hidden;
      
      .img {
        border-radius: 69px;
        width: 5.5rem;
        height: 5.5rem;
        background-color: rgba(204, 204, 204, 0.35);
      }
    }

    .text {
      word-break: break-word;
      font-size: 1.5rem;
      line-height: 1.333;
      padding: 0 1rem;
      width: calc(100% - 5.5rem);
      
      p {
        border-radius: 5px;
        color: transparent;
        background-color: rgba(204, 204, 204, 0.35);

        & + p {
          display: inline-block;
          margin-top: 0.5rem;
          background-color: rgba(204, 204, 204, 0.25);
        }
      }
    }
  }