.add-comment-wrap {
    padding: 2rem 0;
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;

    .add-comment {
        background-color: #fff;
        border-radius: 5px;
        padding: 1rem;
    
        .form-change-profile {
            display: inline-block;
            width: 100%;
        }
    
        .form-ctl-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    
        .comment-icon {
            width: 2.5rem;
            margin-right: 0.5rem;
        }
    
        .comment-input {
            width: 100%;
        }    
    }
}